:root {
  --main-color: #536855;
  --second-color: #8aac90;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--main-color);
  transition: all 0.2s ease-in-out;
}

.navbar a {
  position: relative;
  color: var(--second-color);
  text-decoration: none;
  padding:  10px;
  transition: all 0.2s ease-in-out;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--second-color);
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.navbar a:hover:before {
  width: 100%;
}

@keyframes navbarAnimation {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

.navbar {
  animation: navbarAnimation 0.5s ease-in-out;
}