:root {
  --main-color: #536855;
  --second-color: #8aac90;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--main-color);
  transition: all 0.2s ease-in-out;
}

.navbar a {
  position: relative;
  color: var(--second-color);
  text-decoration: none;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--second-color);
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.navbar a:hover:before {
  width: 100%;
}

@keyframes navbarAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar {
  animation: navbarAnimation 0.5s ease-in-out;
}

.app {
  /* display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "navbar navbar navbar"
    "aboutme"
    "projects"
    "resume"
    "socials main side"; */
}

.navbar {
  grid-area: navbar;
}

.socials {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  grid-area: socials;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 8%;

  /* width: 100% */
}

.main {
  grid-area: main;
  text-align: center;
  border: 2px solid red;
  margin: 10%;
}

.side {
  display: grid;
  grid-area: side;
  align-items: center;
  justify-content: center;
  background-color: red;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 30%;
  width: 8%;
  /* word-wrap: break-word; */
}
.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotate(90deg);
}

.about-me, .project-showcase, .resume, .intro{
  height: 500px;
  margin: 100px;
  margin-top: 10%;
  margin-bottom: 50%;
}

.intro{
  border: 2px solid yellow; ;

}

.about-me{
  border: 2px solid black;
}

.project-showcase {
  border: 2px solid green;
}

.resume {
  border: 2px solid blue;
}

