/* --main: #fcee21; */



body {
  /* background: url("../public/background.jpg"); */
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
   
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 5px;
  }

:root {
  --main: #fcee21;
  --black: #000000;
  --grey: #2c2c2c;
  --light-grey: #a9a9a9;
  --light-green: #97d892;
  --dark-green: #387739;
  --yellow: #fcee21;
  --light-yellow: #ffff61;
  --dark-yellow: #c5bc00;
  --social-icons: #0affe7;
  --background-image: url("../public/background.jpg");
}

html {
  /* background: var(--background-image) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(100%); */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.navbar a {
  position: relative;
  color: var(--main);
  text-decoration: none;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--main);
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.navbar a:hover:before {
  width: 100%;
}

@keyframes navbarAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.navbar {
  /* animation: navbarAnimation 0.5s ease-in-out; */
}

.app {
  /* display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "navbar navbar navbar"
    "aboutme"
    "projects"
    "resume"
    "socials main side"; */
}

/* .navbar {
  grid-area: navbar;
} */

.main {
  text-align: center;
  /* border: 2px solid #fcee21; */
  margin: 0px auto;
  width: 100%;
}

.socials-container {
  position: fixed;
  /* left: 0; This will center the socials container */
  bottom: 0; /* This will place the container at the bottom of the screen */
  /* transform: translate(-50%, 0); This will adjust the position of the socials container to the left of the center */
  justify-content: center;
  height: 250px;
  width: 5%;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: fixed; */
  bottom: 0;
  margin: 0;
  left: 0;
  padding: 0;
  
}

.socials li {
  display: flex;
  align-items: center;
  margin: 0px 0;
  
}

.socials li a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  color: var(--social-icons);
}

.socials a {
  font-size: 25px;
  color: var(--main);
  text-decoration: none;
  padding: 10px;
}

.socials-hr {
  border: 1px solid var(--main);
  height: 80px;
  width: 0px;
  position: absolute;
  left: 50%;
  bottom: 0px;
}

.side-container {
  position: fixed;
  right: 0;
  bottom: 0; /* This will place the container at the bottom of the screen */
  /* transform: translate(-50%, 0); This will adjust the position of the socials container to the left of the center */
  justify-content: center;
  height: 250px;
  width: 5%;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: fixed; */
  bottom: 0;
  margin: 0;
  /* right: 0; */
  padding: 0;
}

.side li {
  display: flex;
  font-size: 10px;
  list-style-type: none;
}
.side a {
  text-decoration: none;
}

.side li p:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  color: var(--social-icons);
}

.side p {
  writing-mode: vertical-rl;
  color: var(--main);
  font-size: 11px;
  text-decoration: none;
  padding: 10px;
}

.side-hr {
  display: flex;
  border: 1px solid var(--main);
  height: 80px;
  width: 0px;
  position: absolute;
  right: 50%;
  bottom: 0px;
}

.about-me,
.project-showcase,
.resume,
.intro {
  height: 500px;
  margin: 300px;
  margin-top: 10%;
  margin-bottom: 50%;
  border: 2px solid var(--main);
}

.intro {
}

.intro-container p {
  color: var(--light-grey);
}
.intro-container h1 {
  color: var(--grey);
}

.about-me {
}

.project-showcase {
}

.resume {
}
